/* General reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* bg-color is same as the my browser console window  */
    /* it fucks with the boder */
    background-color: #ccc;
    color: #333;
}

/* Header */
header {
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.logo h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Product Section */
.product-section, .emi-section {
    background-color: #212728;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-section h2, .emi-section h2 {
    margin-bottom: 1em;
    font-size: 1.25em;
    color: #007600;
}

.product-slider, .emi-slider {
    display: flex;
    gap: 1em;
    overflow-x: auto;
}

.product-slider img, .emi-slider img {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
}

/* Footer */
footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
